<h2>Follower Users</h2>
<% if users.exists? %>
  <table class="w-100">
    <thead class="border-top">
      <tr>
        <th class="p-2">image</th>
        <th>name</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <% users.each do |user| %>
      <tbody class="border-top">
        <tr>
          <td class="p-2"><%= image_tag user.get_profile_image, size: '50x50' %></td>
          <td><%= user.name %></td>
          <td>フォロー数: <%= user.active_relationships.count %></td>
          <td>フォロワー数: <%= user.passive_relationships.count %></td>
          <td><%= link_to "Show", user_path(user) %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>