<div>
  <h3><%= @user.name</h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% if @user == current_user %>
    <P><%= link_to "プロフィール編集", edit_user_path(@user) %></P>
  <% end %>
</div>

<% @post_images.each do |post_images| %>
<div>
  <%= link_to post_image_path(post_image.id) do %>
    <%= image_tag post_image.get_image %>
  <% end %>
  
  <P>投稿ユーザー画像 : <%= image_tag post_image.user.get_profile_image(100,100) %></P>
  <P>ショップ名 : <%= post_image.shop_name %></P>
  <P>説明 : <%= post_image.caption %></P>
  <P>ユーザーネーム : <%= post_image.user.name %></P>
</div>
<% end %>